.error {
  color: red;
  font-weight: bold;
  text-align : center
}

iframe {
  width:640px;
  height:400px;
  border-radius: 10px;
}

.form-add {
  max-width: 430px;
  padding: 15px;
  margin: 0 auto;
}


.form-add .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.btn {
  height: 45px;
  background-color:#2800d8
}

* {
  font-family: 'Ubuntu', sans-serif;

}

.results {
  font-size:35px;
}

.news {
  margin-top: 75px;
}

hr {
  max-width: 60%;
}